* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
	height: 100%;
	background: url("/images/winebackground.jpg");
	font-family: 'News Cycle', sans-serif;

}

main h2 {
	color: #E8E8E8;
    padding-bottom: 1em;
    border-bottom: 1px solid white;
    font-family: 'Poiret One', sans-serif;
}

.modal-bg { 
  background: rgba(0, 0, 0, 0.4)
  position:fixed; 
  top:0; left:0; 
  width:100%; 
  height:100%;
  z-index:10; 
}

a {
	text-decoration: none;
}
/*****************/
/* LOG IN STUFF  */
/*****************/
.user-sign-in {
	text-align: center;
	color: #D6BEBE;
	margin-top: 30px;
	font-family: 'Poiret One', sans-serif;
}

.user-sign-in a {
	color: white;
	text-decoration: none;
}

.user-sign-in a:hover{
	text-decoration: underline;
}


/*****************/
/* HEADER NAV BAR*/
/*****************/

header {
/*	position: fixed;*/
	width: 100%;
	padding: 1em;
	background: rgb(228, 40, 40, 0.5);
	background: rgba(228, 40, 40, 0.5)
}

header a {
	text-decoration: none;
	color: white;
}
h1{
	font-family: 'Great Vibes', cursive;
	font-size: 5em;
	display: inline;
	color: white;
}
h3{

	margin-top:2em;
	text-align: center;
}
nav {

	display: inline;
}

ul {
	display: inline;
	list-style-type: none
}

/* nav bar links*/
li {
	display: inline;
	padding: 1em;
	border-right: 1px solid black;
}

li:hover{
	border-bottom: 2px solid white;
	color: white;
}

#user-sign-in h2{
	text-align: center;
	padding-bottom: 1em;
    border-bottom: 1px solid white;
}
/*****************/
/* MAIN PAGE     */
/*****************/
main {
	width: 90%;
	margin: 0 auto;
	vertical-align: top;
}

#home-wrapper{
	width: 100%;
	margin: 0 auto;
	vertical-align: top;
}

#locations-wrapper {
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
	width: 73%;
/*	background: grey;*/
}

#sidebar {
	vertical-align: top;
	box-sizing: border-box;
	display: inline-block;
	width: 25%;
	background: #DADADA;
	margin: 0 auto;
	height: 80%;
	margin-top: 81px;
	overflow: auto;
}

#on-hand{
    padding-bottom: 19px;
    border-bottom: 1px dotted grey;
}

#sidebar h3{
	border-bottom: none;
    text-align: center;
	color: #BD0002;
    margin-bottom: 1em;
    margin-top: 1em;
}

#sidebar a:hover {
	text-decoration: underline;
}
.notifications-div {
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	margin-left: 1em;
	width: 90%;
	border: 1px solid black;
	background: white;
	margin-bottom: 10px;
	padding: 1em;
	border-radius: 8px;
	/*min-height: 300px;*/
	position: relative;
}

/******************/
/* LOCATIONS BOXES*/
/******************/

.locations-div {
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	margin-left: 1em;
	width: 47%;
	border: 1px solid black;
	background: white;
	margin-bottom: 10px;
	padding: 1em;
	border-radius: 8px;
	height: 300px;
	position: relative;
	min-width: 393px;
}

#edit-locations-div {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 1em;
    width: 43%;
    height: 25%;
    border: 1px solid black;
    background: white;
    margin-bottom: 10px;
    padding: 1em;
    border-radius: 8px;
    position: fixed;
    top: 34%;
    left: 30%;
}


#centered_div { 
	width: 60px; 
	height: 20px; 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	margin-left: -30px; 
	margin-top: -10px; 
} 

#add-location-div:hover {
	background: lightblue;
}

.location-name {
	display: block;
	font-size: 20px;
	margin-bottom: 5px;
	border-bottom: 1px solid #F5C6C6;
	font-weight: bold;
}
#each-location-wrapper{
	display:block;
	overflow: auto;
	height: 200px;
}

#location-buttons{
	color: white;
	position: absolute;
	bottom: 10px;
    width: 100%;
}

.locations-button {
	display: inline-block;
	margin: 0 auto;
	margin-left: 12%;
	padding: 6px;
	background: #3D8674;
	color: white;
	margin-top: 5px;
	bottom: 4px;
  background: #e3a8a8;
  background-image: -webkit-linear-gradient(top, #e3a8a8, #801A17);
  background-image: -moz-linear-gradient(top, #e3a8a8, #801A17);
  background-image: -ms-linear-gradient(top, #e3a8a8, #801A17);
  background-image: -o-linear-gradient(top, #e3a8a8, #801A17);
  background-image: linear-gradient(to bottom, #e3a8a8, #801A17);
  -webkit-border-radius: 16;
  -moz-border-radius: 16;
  border-radius: 16px;
  color: #ffffff;
  padding: 3px 18px 4px 21px;
  text-decoration: none;
}

.locations-button:hover {
	background: #f0bdbd;
  background-image: -webkit-linear-gradient(top, #f0bdbd, #cc6677);
  background-image: -moz-linear-gradient(top, #f0bdbd, #cc6677);
  background-image: -ms-linear-gradient(top, #f0bdbd, #cc6677);
  background-image: -o-linear-gradient(top, #f0bdbd, #cc6677);
  background-image: linear-gradient(to bottom, #f0bdbd, #cc6677);
  text-decoration: none;
  cursor: pointer;
}

.locations-button a{
	color: white;
}

.wine-list{
	border-bottom: 1px dotted grey;
}

#span-wine-name{
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 60%;
    vertical-align: top;
}

#wine-buttons{
	display: inline-block;
    float: right;
    vertical-align: top;
    padding-top: 5px;
}

.wine-info-span {
	background: white;
    color: #EA0000;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    padding: 2px 11px;
}

.wine-info-span:hover {
	background: lightblue;
}
/******************/
/* SEARCH STUFF   */
/******************/

#wine-search-wrapper {
	width: 50%;
	margin: 0 auto;
	position: relative;
}

#wine-search-wrapper h1 {
	color: black;
}

#wine-search-wrapper h2 {
	color: #423B3B;
    margin-bottom: -34px;
}

/* wine results li*/
#wineresults {
	margin: 0 auto;
    display: inline-block;
    width: 100%;
    border-right: none;
    font-size: 1.2em;
    border-bottom: 1px solid grey;
	background-color: rgba(255, 255, 255, 0.8);
}

#wineresults:hover {
	background: #E9E9FF ;
	color: black;
}

.add-to-location {
	float: right;
    background: #3D8674;
    border-radius: 10px;
    padding: 1em;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.add-to-location:hover {
	background-color: #5ABFA6
}

#cancel-button {
	float: none;
	width: 40px;
	text-align: center;
	margin: 0 auto;
}

#choose-locations {
	padding: 1em;
	text-align: center;
	width: 52%;
	background: white;
	color: black;
	min-height: 242px;
    position: fixed;
    top: 34%;
    left: 24%;
}

#choose-locations p {
	margin: 4px;
	padding: 5px;
}
#choose-locations p:hover {
	background: lightblue;
	cursor: pointer;
	font-weight: bold;
}

/******************/
/* FORM STYLING   */
/******************/

form {
/*	background-color: #A1BCC5;*/
	margin: 0 auto;
	padding: 1em;
	width: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	color: white;
}

#searchbar {
	margin: 0 auto;
	padding: 1em;
	width: 400px;
	text-align: center;
	color: white;
	margin-left: 68px;
	margin-top: -22px;
	margin-bottom: -12px;
}

#addLocation {
	width: 100%;
	color: black;
	padding: 0;
}

#addLocation h2{
	color: black;
}

input {
	font-size: 16px;
	width: 100%;
	height: 30px;
}


button{
	margin-top: 10px;
	width: 100px;
	height: 30px;
	background: white;
	border: 1px solid black;
}

#userSignup button:hover {
	background: #988080;
}
#userLogin {
	font-family: 'Poiret One', sans-serif;
}

#userLogin button:hover {
	background: #988080;
}

/*===================*/
/* MEDIA QUERIES     */
/*===================*/

/*for devices 480px and smaller*/
@media (max-width: 480px) {
	#sidebar {
		display: block;
		width: 100%;
		margin-left: 0px;
		margin-top: 10px;
		height: 400px;
	}
	#locations-wrapper{
		width: 100%;
	}
	.locations-div{
		margin-bottom: 20px;
		width: 100%;

	}
	#choose-locations{
		top: 3%;
	}
}

/*for tablet devices 860 and smaller*/
@media (max-width: 860px) {
	#sidebar {
		display: block;
		width: 100%;
		margin-left: 0px;
		margin-top: 10px;
		height: 400px;
	}
	#locations-wrapper{
		width: 100%;
	}
	.locations-div{
		margin-bottom: 20px;
		width: 90%;
	}
	#choose-locations{
		top: 6%;
	}
	#searchbar{
		margin-top: 0px;
	}
	#location-buttons{
		margin-left: 77px;
	}
}

/*for devices 1280px and smaller*/
/*all non-laptop views*/
@media (max-width: 1280px){
	.locations-div{
		width: 90%;
	}
	#location-buttons{
		margin-left: 94px;
	}
}