<main>
<!-- JOHNS USER LOGIN FORM -->
<div id="user-sign-in" ng-if="!user" ng-controller='FormController as formCtrl'>
	<h1>Sign up and track your wine!</h1>
	<form id='userSignup'>
		<h2>Name:</h2><br/>
		<input type='text' ng-model='username' id='username' placeholder='ENTER YOUR NAME'/>
		<h2>PASSWORD:</h2>
		<input type='password' ng-model='password' id='password' placeholder='ENTER YOUR PASSWORD'/><br/>
		<button ng-click='addUser()'>Signup</button>
	</form>
<h1><a href="/user/login">Already a Wino? Log in here!</a></h1>

</div>
<!-- JOHNS USER LOGIN FORM --> 
<section ng-if="user">
	<h2>WELCOME BACK, {{user.username}}</h2><br/>



	<section id="home-wrapper" ng-controller="LocationController as locationCtrl">
		

		<div id="locations-wrapper">
			
			<div class="locations-div" ng-repeat="location in locationCtrl.locations track by $index">
				<span class="location-name">{{location.name}}</span>
				<!-- for every wine for this location, display wine, limit: 5? -->
				<div ng-repeat="wine in location.wine" class="wine-list">		
 					<span>{{wine.name | limitTo: 30}}</span>
 					<span class="wine-info-span"> &nbsp; x &nbsp; &nbsp; </span>			
 					<span class="wine-info-span"> &nbsp; + &nbsp; &nbsp; </span>	
 					<span class="wine-info-span"> &nbsp; &nbsp;- &nbsp;&nbsp;</span>
 					<span class="wine-info-span">&nbsp; &nbsp;{{wine.onHand}} &nbsp;</span>		
 				</div>

				<div class="locations-button">
					Add Wine
				</div>

				<div class="locations-button" ng-click='locationCtrl.showEdit($index)'>
					<input type='hidden' ng-model='index' name='index' value='$index'>Edit Location {{$index}}
				</div>


			</div>


			<div class="locations-div" id="add-location-div" ng-if='locationCtrl.showAddDiv'>
				<h1>Add new location</h1>
				<form id='addLocation' ng-submit=''>
					<h2>Name:</h2><br/>
					<input type='text' ng-model='locationCtrl.name' placeholder='Location Name'/><br/>
					<button ng-click='locationCtrl.addLocation()'>Add</button>
				</form>
			</div>
		</div>

		<div id="edit-locations-div" ng-if='locationCtrl.showEditDiv'>
			EDIT LOCATION NAME: <input type='text' ng-model='locationCtrl.name' placeholder='EDIT NAME'>
			<button ng-click='locationCtrl.editLocation(index)'>Edit</button>
			<button>Delete</button>
		</div>

		<div id="sidebar">
			Notifications GO HERE
		</div>
		</section>
	</section>
</main>