<div id="wine-search-wrapper" ng-controller="WineController as wineCtrl">
		<form ng-submit="wineCtrl.searchWine()">
		  <p>Search wine by name:</p>
		  <input type="text" name="name" placeholder="ie. Sauvignon 2013, Mondavi Merlot, etc" ng-model="wineCtrl.searchdata.input">
		  <button>Search</button>
		</form>


	  <ul>
	  	<li id="wineresults" ng-repeat="wine in wineCtrl.wineResults track by $index">{{wine.Name}}
	  		<div class="add-to-location" ng-click="wineCtrl.popUp(wine)">Add To Collection</div>
	  	</li>
	  </ul>

	  <div id="choose-locations" ng-if="wineCtrl.showDiv">
	  	<h2>Where would you like to save {{wine.Name}} to?</h2><br/><br/>
	  	<p ng-repeat="location in wineCtrl.locations" ng-click="wineCtrl.addWine(location._id)">{{location.name}}</p><br/>
	  	<div class="add-to-location" id="cancel-button" ng-click="wineCtrl.close()">cancel</div>
	  </div>

</div>